<div class="flex items-center justify-center dark:text-white">
  <h1 class="text-2xl mr-1 inline-block">
    <%= link_to @recipient.username, conversation_path(id: @recipient.username) %>
  </h1>

  <% if @recipient.pgp_set? %>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25a3 3 0 013 3m3 0a6 6 0 01-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1121.75 8.25z" />
    </svg>

  <% end %>
</div>

<div class="flex items-center justify-center dark:text-white mt-4">
  <div>
    <pre class="text-xs m-auto"><%= @recipient.pgp_public_key %></pre>
    <%= link_to download_pgp_conversation_path(@recipient.username), class: "rounded-md mt-4 py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" do %>
      Download as file
    <% end %>
  </div>
</div>
